.testimonial-description::before{
    content: ' " ';
    font-family: "Are You Serious", 'cursive';
    font-size: 50px;
    position: absolute;
    top: -60px;
    transform: rotate(180deg);
    font-weight: 900;
    color: #FF5403;
}
.testimonial-description::after{
    content: ' " ';
    font-family: "Are You Serious", 'cursive';
    font-size: 50px;
    position: absolute;
    bottom: -50px;
    font-weight: 900;
    color: #FF5403;
}

  
  @media (max-width: 768px) {
    .custom-arrow {
      display: none !important;
    }
  }
  