* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
/* styling for some Hero elements and Navbar elements starts here */
.ham-menu.active span:nth-child(1) {
  top: 50%;
  /* color: #ff7700 !important; */
  transform: translate(-50%, -50%) rotate(45deg);
}

.ham-menu.active span:nth-child(2) {
  opacity: 0;
}

.ham-menu.active span:nth-child(3) {
  top: 50%;
  transform: translate(-50%, -50%) rotate(-42deg);
}

.nav-items {
  font-family: "Work Sans", sans-serif;
}

@media screen and (max-width: 768px) {
  .nav-items.active {
    display: flex;
    position: fixed;
    top: 120px;
    right: 0;
    bottom: 0;
    height: 100vh;
    transition: 0.5s ease;
    font-family: "Work Sans", sans-serif;
    width: 150px;
    background-color: #001d23;
    color: #ffffff;
    z-index: 100;
  }
}

@media screen and (min-width: 766px) {
  .nav-items.active {
    position: static;
    background-color: #ffffff;
    height: auto;
    width: auto;
  }
}

@media screen and (max-width: 767px) {
  .nav-items.active li {
    color: #ffffff;
  }

  .nav-items.active li a {
    color: #ffffff;
    font-weight: normal;
  }
}

.hero::after,
.hero-community-service:after,
.home-about::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(1, 29, 36, 0.8);
  mix-blend-mode: multiply;
}

.hero-donate::after,
.hero-donate-community-service:after,
.home-donate-about::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(1, 29, 36, 0.8);
  mix-blend-mode: multiply;
}
.home-about::after {
  background-color:rgba(1,0,124,0.8);
}

@keyframes fadeInOut {
  0%,
  100% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }
}

.hero::before {
  content: "";
  display: inline-block;
  position: absolute;
  top: 20px;
  left: 20px;
  background-color: #ff7700;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  z-index: 10;
  opacity: 0;
  animation: fadeInOut 3s infinite;
}

.hero-donate::before{
  display: inline-block;
  position: absolute;
  top: 20px;
  left: 20px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  z-index: 10;
  opacity: 0;
  animation: fadeInOut 3s infinite;
}

@keyframes textAnimation {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.text-animate {
  animation: textAnimation 4s ease in ease-in-out;
  -webkit-animation: textAnimation 4s ease in ease-in-out;
}
@media screen and (min-width: 320px) {
  .hero-text {
    
    font-size: 24px;
  }
}
@media screen and (min-width: 375px) {
  .hero-text {
    left: 25%;
    
  }
}

@media screen and (min-width: 425px) {
  .hero-text {
    font-size: 30px;
    left: 15%;
   
  }
}

/* styling for some Hero elements and Navbar elements ends here */

/* overriding whatsapp-button internal styles */
.floating-whatsapp-button {
  position: fixed !important; 
  bottom: 20px !important;       
  right: 20px !important;        
  z-index: 1000 !important;   
}
