 * {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.ham-menu {
  position: relative;
  width: 25px;
  height: 35px;
}

.ham-menu span {
  background-color: rgba(0, 0, 0, 0.7);
  height: 3.5px;
  width: 100%;
  border-radius: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: 0.5s ease;
}

.ham-menu span:nth-child(1) {
  top: 25%;
}

.ham-menu span:nth-child(3) {
  top: 75%;
}

.ham-menu.active span:nth-child(1) {
  top: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
}

.ham-menu.active span:nth-child(2) {
  opacity: 0;
}

.ham-menu.active span:nth-child(3) {
  top: 50%;
  transform: translate(-50%, -50%) rotate(-42deg);
}

.nav-items {
  position: fixed;
  top: 100px;
  right: -100px;
  transition: 0.5s ease;
  font-family: "Work Sans", sans-serif
}

@media screen and (min-width:768px) {
  .nav-items {
    position: static;
    width: 100%;
  }
}

@media screen and (min-width:1024px) {
  .nav-items {
    width: 60%;
  }
}

.nav-items.active {
  right: 40px;
}