@tailwind base;
@tailwind components;
@tailwind utilities;


/* width */
::-webkit-scrollbar {
  width: 0.5rem;
}

/* Track */
::-webkit-scrollbar-track {
  background: white;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(1, 45, 86);
  border-radius: 50px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(1, 20, 116);
}

/* for service   */
.swiper-button-next,
.swiper-button-prev {
  color: #4a5568; /* Change button color */
}

.swiper-slide img {
  object-fit: cover;
}

.scroll-arrow svg {
  transition: transform 0.3s;
}

.scroll-arrow:hover svg {
  transform: scale(1.2);
}